
  
  @media (max-width: 768px) {
   
    .navbar1 {
     width: 400px !important;
    }
    .popular{
      margin-left: -15px !important;
    }
    .left h2{
      width: 350px;
      font-size: 35px;
      margin-bottom: 40px;
      margin-left: 20px;
      text-align: center;
      
        }
        .video1{
          height: fit-content !important;
          width: fit-content !important;
          margin: 40px;
          margin-top: -100px !important;
          
        }
        .row1{
          display: flex;
          flex-direction: column;
          margin-top: 180px !important;
          margin-left: -190px !important;
margin-right: 30px;

        }
        .row2{
          display: flex;
          flex-direction: column;
          margin-top: 190px !important;
          margin-right: 10px;
          margin-left: 10px;
        }
      
        .col-main{
          display: flex;
flex-direction: row;

        }
        .icon{
          font-size: 130px !important;
        
        }
        .review1 {
          /* Adjust styles for the review container as needed */
          display: flex;
          flex-direction: column !important;
          align-items: left;
          text-align: left;
          margin-top: 20px;
          height: 900px !important;
          width: 350px;
          margin-left: -25px;
         
        }
        .review1 img{
          width: max-content !important;
          height: auto !important;
          margin-top: -30px !important;
          align-items: center;
          text-align: center;
          
        }
        .review1 p{
          margin-top: -30px;
          height: 900px !important;
          align-items: center;
          text-align: center;
          
        }
        .main-review{
          height: 850px !important;
          align-items: center;
          text-align: center;
        }
        .review-icon{
          margin-bottom: 100px !important;
        }
        .review2{
          margin-top: -30px !important;
          align-items: center;
          text-align: center;
        }
        .review1 h1{
          font-size: 20px;
          margin-top: -10px;
          align-items: center;
          text-align: center;
        }
        .review-box{
          width: 82% !important;
          height: fit-content !important;
          align-items: center;
          text-align: center;
        }
        .footer{
          text-align: center;
        }
  }
  
  @media (max-width: 480px) {
 
    .car-img img{
        height: 600px;
        width: inherit;
    }
    .navbar1 {
 width: fit-content;
 justify-content: space-around;     
 float: left;
    }
    .navbar1 a{
        background-color: transparent;
    }
    .content h1 p{
        position: initial;
        
        margin-left: -160px;
        margin-bottom: -120px;
        font-size: 50px;
       
     
    }
    .auto-type{
        position: initial;
        margin-left: -160px;
       margin-top: 160px;
        font-size: 50px;
        
    }
    .content{
        margin-top: -100px;
    }
    .relative1{
       margin-left: -170px;
       width: 350px;
    }
    .relative1 svg{
        position: absolute;
       margin-left: -170px;
    }
    .search form{
       width: max-content;
    }
    .popular{
      margin-left: -8px;
    }
  .left p{
    width: 300px;
  }

   
  }
 
.homepage{
   overflow-x: hidden;
}